.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0;
}

.main h6 {
    margin-bottom: 20px;
}


.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    justify-content: center;
    max-width: 300px;
}

.project-card a {
    text-decoration: none;
    padding: 0;
}

.project-img {
    background: url("https://picsum.photos/200/300?grayscale") center/cover no-repeat;
    height: 240px;
    width: 240px;
    border-radius: 5px;
    box-shadow: 0 -2px 7px 0 gray;

    max-width: 240px;
}

.lm {
    margin-left: 20px;
}

.rm {
    margin-left: 20px;
}

.project-details h6 {
    margin: 20px auto 0;
}

.reverse {
    flex-direction: column;
}

@media (min-width: 640px) {
    .project-card {
        flex-direction: row;
        max-width: 600px;
    }


    .reverse {
        flex-direction: row-reverse;
    }

    .lm {
        margin-left: 20px;
    }

    .rm {
        margin-right: 20px;
    }
}